@charset "UTF-8";
@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed:400,400italic,700,700italic,300italic,300);
@media (min-width: 64.063em) and (max-width: 100.053em) {
  @-moz-document url-prefix() {} }
@media (min-width: 100.063em) and (max-width: 120.053em) {
  @-moz-document url-prefix() {} }
@media (min-width: 120.063em) {
  @-moz-document url-prefix() {} }
body {
  background: #00A79D;
  font-family: "Roboto Condensed"; }
  @media (max-width: 64.053em) {
    body {
      min-width: 1024px; } }

section#side_bar {
  background: #231F20;
  width: 300px;
  position: fixed;
  left: 0px;
  z-index: 10;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease; }
  @media (max-width: 48.053em) {
    section#side_bar {
      min-height: 100vh;
      height: 100%;
      padding: 20px 40px 20px 20px; }
      section#side_bar p {
        line-height: 1.3; } }
  @media (min-width: 48.063em) {
    section#side_bar {
      height: 100vh;
      padding: 40px; }
      section#side_bar footer {
        position: absolute;
        bottom: 0;
        width: calc(100% - 80px);
        left: 40px; }
        section#side_bar footer p {
          line-height: 1.3; } }
  section#side_bar h4 {
    color: #00A79D;
    font-size: 85%;
    text-align: right;
    text-transform: uppercase;
    margin: 0; }
  section#side_bar p {
    color: #D1D3D4;
    font-weight: 300;
    text-align: right;
    font-size: 85%;
    margin-bottom: 0.5em; }
  section#side_bar .content {
    display: inline-block;
    width: 100%; }
    section#side_bar .content .logo {
      width: 100%;
      overflow: hidden; }
      @media (max-width: 48.053em) {
        section#side_bar .content .logo {
          margin-top: 20px;
          margin-bottom: 20px; } }
      @media (min-width: 48.063em) {
        section#side_bar .content .logo {
          margin-bottom: 40px; } }
      section#side_bar .content .logo .icon, section#side_bar .content .logo .text {
        display: inline-block;
        height: 60px;
        float: right; }
      section#side_bar .content .logo .icon {
        margin-left: 20px; }
      section#side_bar .content .logo .text {
        opacity: 1;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease; }
    section#side_bar .content .app_info {
      opacity: 1;
      -webkit-transition: all 0.5s ease;
      -moz-transition: all 0.5s ease;
      -o-transition: all 0.5s ease;
      transition: all 0.5s ease;
      overflow: hidden;
      margin-bottom: 12px; }
      section#side_bar .content .app_info .version {
        color: #D1D3D4;
        margin-bottom: 12px; }
      section#side_bar .content .app_info p {
        margin-bottom: 0; }
    section#side_bar .content .buttons {
      display: inline-block;
      width: 100%;
      text-align: right; }
    section#side_bar .content .button {
      color: #fafafa;
      text-transform: uppercase;
      font-size: 14px;
      margin-bottom: 6px;
      outline: none;
      background: #00A79D;
      min-width: 50px;
      height: 48px;
      line-height: 48px;
      padding: 0 16px;
      display: inline-block;
      -webkit-transition: all 0.3s ease;
      -moz-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      transition: all 0.3s ease; }
      section#side_bar .content .button:hover {
        box-shadow: inset 0 -60px 0 rgba(0, 14, 13, 0.5); }
    section#side_bar .content .paypal {
      background: #00A79D url("../img/paypal_button.jpg");
      background-position: right;
      padding: 0;
      width: 127px; }
    section#side_bar .content .show_more {
      position: relative;
      margin-bottom: 12px; }
      section#side_bar .content .show_more .less_text {
        width: 0; }
      section#side_bar .content .show_more .width0 {
        width: 0; }
      section#side_bar .content .show_more .widthauto {
        width: auto; }
  section#side_bar ul.social {
    text-align: right; }
    section#side_bar ul.social li {
      margin: 0 4px;
      display: inline; }
  section#side_bar .social_icons {
    display: inline-block;
    margin-bottom: 10px; }
    section#side_bar .social_icons a {
      display: block;
      font-size: 50px;
      line-height: 50px;
      width: 50px;
      height: 50px;
      float: right;
      text-align: center;
      -webkit-transition: all 0.3s ease;
      -moz-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      transition: all 0.3s ease; }
  section#side_bar .github a {
    color: #00A79D; }
    section#side_bar .github a:hover {
      color: #0efff1; }
  section#side_bar .facebook a {
    background: #00A79D;
    color: #231F20; }
    section#side_bar .facebook a:hover {
      background-color: #0efff1; }
    section#side_bar .facebook a i {
      position: relative;
      top: 7px; }
  section#side_bar footer {
    padding-top: 10px;
    border-top: 8px dotted #312b2c;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease; }
    section#side_bar footer span {
      font-weight: 600; }
    section#side_bar footer a {
      color: #00A79D; }

.to_fade {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease; }

.full_side_bar {
  left: -180px !important; }
  .full_side_bar .to_fade {
    opacity: 0 !important; }
  .full_side_bar .paypal {
    width: 50px !important;
    background-position: left !important; }
  .full_side_bar .to_disapear {
    opacity: 0 !important;
    height: 0 !important; }

div.right_bar {
  background: #231F20;
  padding: 1px; }
  @media (max-width: 48.053em) {
    div.right_bar {
      width: 100%;
      height: auto;
      position: relative; } }
  @media (min-width: 48.063em) {
    div.right_bar {
      width: 302px;
      height: 100vh;
      z-index: 10;
      position: fixed;
      top: 0;
      right: 0; } }

section.section_from {
  background: #E6E7E8; }

section.section_to {
  background: #D1D3D4; }

section.section_syntax {
  background: #00A79D;
  color: #fafafa;
  font-family: "Roboto Condensed";
  position: relative; }
  section.section_syntax h3 {
    font-size: 24px;
    font-weight: 800;
    font-family: "Roboto Condensed";
    text-transform: uppercase; }
  section.section_syntax .example, section.section_syntax .syntax {
    min-height: 80px;
    min-height: 8vh; }
    section.section_syntax .example h3, section.section_syntax .syntax h3 {
      -webkit-user-select: none;
      -moz-user-select: none;
      -o-user-select: none;
      user-select: none; }
  section.section_syntax .syntax {
    background: #008e85;
    width: calc(100% - 60px);
    margin: 30px 30px 10px;
    padding: 10px;
    overflow: hidden; }
    section.section_syntax .syntax h3 {
      color: #00f4e5;
      margin-top: 0;
      line-height: 1;
      display: inline; }
    section.section_syntax .syntax p {
      margin-bottom: 0; }
  section.section_syntax .example {
    width: calc(100vw - 602px - 80px);
    margin-left: 30px;
    padding: 10px;
    margin-bottom: 30px; }
    section.section_syntax .example h3 {
      color: #00c1b5;
      margin-top: 0;
      line-height: 1; }
    section.section_syntax .example p {
      color: #5bfff5;
      margin-bottom: 0; }

.section {
  width: 100%;
  min-height: 33.33vh;
  overflow: hidden; }
  .section .info, .section .info-right, .section .content {
    float: left;
    height: inherit;
    min-height: inherit; }
  .section .info, .section .info-right {
    width: 180px;
    min-height: 100px;
    margin-left: 120px;
    padding: 30px 0 30px 30px; }
    .section .info h4, .section .info-right h4 {
      font-size: 15px;
      line-height: 1.1;
      text-transform: uppercase;
      margin-top: 10px;
      font-weight: 600; }
    .section .info p, .section .info-right p {
      font-size: 13px;
      text-align: justify;
      line-height: 1.2; }
  .section .info-right {
    margin-left: 0; }
  .section .content {
    width: calc(100% - 602px);
    overflow: hidden; }
    .section .content .from-signs, .section .content .from-mainblocks {
      float: left; }
    .section .content .from-signs {
      width: 270px;
      height: inherit;
      min-height: 33.33vh; }
    .section .content .from-mainblocks {
      width: calc(100% - 270px); }

.section_from .info h4, .section_from .section .info-right h4, .section .section_from .info-right h4 {
  color: #00A79D; }
.section_from .info p, .section_from .section .info-right p, .section .section_from .info-right p {
  color: #aaa; }

.section_to .info h4, .section_to .section .info-right h4, .section .section_to .info-right h4 {
  color: #00A79D; }
.section_to .info p, .section_to .section .info-right p, .section .section_to .info-right p {
  color: #9d9d9d; }

.section_syntax .info h4, .section_syntax .section .info-right h4, .section .section_syntax .info-right h4 {
  color: #74fff7; }
.section_syntax .info p, .section_syntax .section .info-right p, .section .section_syntax .info-right p {
  color: #fafafa;
  opacity: 0.8; }

.dt {
  display: table;
  width: 100%; }

.dtc {
  display: table-cell; }

.element .dt {
  height: 50px; }
.element .dtc {
  vertical-align: middle; }

.sign .dt {
  height: 30px; }
.sign .dtc {
  vertical-align: middle; }

.part-basic, .element, .sign {
  display: inline-block;
  background-color: #fafafa;
  box-shadow: 4px 4px rgba(0, 0, 0, 0.05);
  float: left;
  margin: 10px;
  padding: 10px;
  text-align: center;
  line-height: 1.1;
  text-transform: uppercase;
  font-family: "Roboto Condensed";
  z-index: 10000;
  cursor: move; }

.element {
  height: 70px;
  width: 70px;
  font-size: 12px;
  font-weight: 600;
  color: #aaa; }

.sign {
  height: 50px;
  width: 50px;
  font-size: 20px;
  font-weight: 800;
  color: #00A79D; }

.chooseTo .sign {
  margin: 20px 10px; }

.chooseFrom, .chooseTo {
  z-index: -10000;
  margin: 0 !important; }

.chooseFrom, .chooseFromSigns, .chooseTo {
  width: 100%;
  min-height: 100px;
  overflow: hidden; }

.chooseFromSigns {
  width: 255px; }

.chooseTo {
  padding: 30px; }

.chooseFrom {
  padding: 30px 15px 30px 30px; }

.chooseFromSigns {
  padding: 30px 30px 30px 15px; }

/*# sourceMappingURL=style.css.map */
